<p id="notice"><%= notice %></p>

<h1>List Wikis User</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Private</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wikis.each do |wiki| %>
      <tr id="<%= dom_id(wiki) %>">
        <td><%= wiki.title %></td>
        <td><%= wiki.body %></td>
        <td><%= wiki.private %></td>

        <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
        <td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Back', wikis_path %>
