<%= form_tag charges_path do %>

  <%= hidden_field_tag :amount, @stripe_btn_data[:amount] %>
  
   <h4>Sign up for a Premium Account!</h4>
   <h5>Create Private Wikis Only Other Premium Users Can See</h5>
   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= @stripe_btn_data[:key] %>" 
          data-amount=<%= @stripe_btn_data[:amount] %> 
          data-name="Blocipedia"
          data-description="Blocipedia Premium Membership">
          </script>
 <% end %>

<%= link_to 'Back', wikis_path %>


